<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyStore | 404 not found</title>
    <link rel="icon" type="image/x-icon" href="../admin/images/logo.png">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&amp;display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../user/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../user/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/style.css" type="text/css">
</head>

<body>
    <%- include('../partials/user/userNavbar') %>
    <!-- Content Section -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-12" style="background-color:#F6F6F6;">
                    <div class="row">
                        <div class="col-md-7">
                            <img src="../user/img/404image.png" style="width:100%;height:auto;">
                        </div>
                        <div class="col-md-5">
                            <h2 style="padding-top:50px;padding-bottom: 30px;">Sorry, no result found!</h2>
                            <a href="/" style="font-size:30px;">Continue Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content Section End -->

    <script src="../user/javascripts/loginSignup.js"></script>
    <script src="../user/javascripts/homeMenuLoad.js"></script>
    <script src="../user/javascripts/addToCart.js"></script>
    <script src="../user/javascripts/addToWishlist.js"></script>
    <!-- Js Plugins -->
    <script src="../user/js/jquery-3.3.1.min.js"></script>
    <script src="../user/js/bootstrap.min.js"></script>
    <script src="../user/js/jquery.nice-select.min.js"></script>
    <script src="../user/js/jquery-ui.min.js"></script>
    <script src="../user/js/jquery.slicknav.js"></script>
    <script src="../user/js/mixitup.min.js"></script>
    <script src="../user/js/owl.carousel.min.js"></script>
    <script src="../user/js/main.js"></script>
</body>
</html>