<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>
    <link rel="icon" type="image/x-icon" href="../../admin/images/logo.png">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&amp;display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../user/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../user/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/style.css" type="text/css">
</head>

<body>
    <!--Imported Header Content-->
    <%- include('../../partials/user/userNavbar') %>
    <!-- Content Section Begin -->
    <seection class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4><a href="/" style="color:black;">Home</a> -> Privacy Policy</h4>
                            <ul>
                                <li><a href="/shop/aboutus">About MyStore</a></li>
                                <li><a href="/shop/secureShopping">Secure Shopping</a></li>
                                <li><a href="/shop/termsAndCondition">Terms and Condition</a></li>
                                <li><a href="/shop/deliveryInformation">Delivery Information</a></li>
                                <li><a href="/shop/privacyPolicy"><span class="text-primary">Privacy Policy</span></a></li>
                                <li><a href="/shop/contactUs">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="mb-3">Privacy Policy</h3>
                            <p>MyStore takes the privacy of your information seriously. This Privacy Notice describes the types of personal information we collect from you through our stores,
                                 website (including sub-domains and microsites). It also describes the purposes for which we collect that personal information, the other parties with whom we may
                                  share it and the measures we take to protect the security of your data. It also tells you about your rights and choices with respect to your personal information,
                                   and how you can contact us about our privacy practices.</p>
                            <p>You are advised to carefully read this Privacy Notice before using or availing any of our products and/or services.</p>
                            <dl>
                                <dt>Cookies</dt>
                                <dd>a small file placed on your device by our website or mobile application when you either visit or use certain features of our website or mobile application. A cookie generally allows
                                     a website to remember your actions or preference for a certain period of time.</dd>
                                <dt>Data</dt>
                                <dd>includes non-personal information, personal information and sensitive personal information about you, which either directly or indirectly in combination with other information,
                                     could allow you to be identified when you visit our stores, website and/or mobile application.</dd>
                            </dl>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content Section End -->
    <!-- Login/signup and Category Menu Loading -->
    <script src="../user/javascripts/loginSignup.js"></script>
    <script src="../user/javascripts/homeMenuLoad.js"></script>
    <!-- Cart and Wishlist Controles -->
    <script src="../user/javascripts/addToCart.js"></script>
    <script src="../user/javascripts/addToWishlist.js"></script>
    <!-- Js Plugins -->
    <script src="../user/js/jquery-3.3.1.min.js"></script>
    <script src="../user/js/bootstrap.min.js"></script>
    <script src="../user/js/jquery.nice-select.min.js"></script>
    <script src="../user/js/jquery-ui.min.js"></script>
    <script src="../user/js/jquery.slicknav.js"></script>
    <script src="../user/js/mixitup.min.js"></script>
    <script src="../user/js/owl.carousel.min.js"></script>
    <script src="../user/js/main.js"></script>
</body>
</html>