<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>
    <link rel="icon" type="image/x-icon" href="../../admin/images/logo.png">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&amp;display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../user/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../user/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/style.css" type="text/css">
</head>

<body>
    <!--Imported Header Content-->
    <%- include('../../partials/user/userNavbar') %>
    <!-- Content Section Begin -->
    <seection class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4><a href="/" style="color:black;">Home</a> -> Secure Shopping</h4>
                            <ul>
                                <li><a href="/shop/aboutus">About MyStore</a></li>
                                <li><a href="/shop/secureShopping"><span class="text-primary">Secure Shopping</span></a></li>
                                <li><a href="/shop/termsAndCondition">Terms and Condition</a></li>
                                <li><a href="/shop/deliveryInformation">Delivery Information</a></li>
                                <li><a href="/shop/privacyPolicy">Privacy Policy</a></li>
                                <li><a href="/shop/contactUs">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Secure Shopping</h3><br/>
                            <p>MyStore allows you to walk away from the drudgery of grocery shopping and welcome an easy relaxed way of browsing and shopping for groceries.
                                 Discover new products and shop for all your food and grocery needs from the comfort of your home or office. No more getting stuck in traffic jams,
                                  paying for parking , standing in long queues and carrying heavy bags – get everything you need, when you need, right at your doorstep.
                                   Food shopping online is now easy as every product on your shopping list, is now available online at MyStore, The best online grocery store!</p>
                        </div>
                        <div class="col-md-4">
                            <img src="../../user/img/secure.png" alt="100% secure">
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content Section End -->

    <!-- Login/signup and Category Menu Loading -->
    <script src="../user/javascripts/loginSignup.js"></script>
    <script src="../user/javascripts/homeMenuLoad.js"></script>
    <!-- Cart and Wishlist Controles -->
    <script src="../user/javascripts/addToCart.js"></script>
    <script src="../user/javascripts/addToWishlist.js"></script>
    <!-- Js Plugins -->
    <script src="../user/js/jquery-3.3.1.min.js"></script>
    <script src="../user/js/bootstrap.min.js"></script>
    <script src="../user/js/jquery.nice-select.min.js"></script>
    <script src="../user/js/jquery-ui.min.js"></script>
    <script src="../user/js/jquery.slicknav.js"></script>
    <script src="../user/js/mixitup.min.js"></script>
    <script src="../user/js/owl.carousel.min.js"></script>
    <script src="../user/js/main.js"></script>
</body>
</html>