<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>
    <link rel="icon" type="image/x-icon" href="../../admin/images/logo.png">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&amp;display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../user/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../user/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../user/css/style.css" type="text/css">
</head>

<body>
    <!--Imported Header Content-->
    <%- include('../../partials/user/userNavbar') %>
    <!-- Content Section -->
    <seection class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4><a href="/" style="color:black;">Home</a> -> Terms And Condition</h4>
                            <ul>
                                <li><a href="/shop/aboutus">About MyStore</a></li>
                                <li><a href="/shop/secureShopping">Secure Shopping</a></li>
                                <li><a href="/shop/termsAndCondition"><span class="text-primary">Terms and Condition</span></a></li>
                                <li><a href="/shop/deliveryInformation">Delivery Information</a></li>
                                <li><a href="/shop/privacyPolicy">Privacy Policy</a></li>
                                <li><a href="/shop/contactUs">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Terms And Condition</h3><br/>
                            <p>WELCOME TO ALL MyStore AND THANK YOU FOR REGISTERING WITH US! IT IS IMPORTANT THAT YOU REVIEW THIS AGREEMENT BECAUSE,
                                 BY ACCESSING THIS WEBSITE, BY PLACING AN ORDER WITH US BY THROUGH THIS WEBSITE,
                                  YOU ARE AGREEING TO THE TERMS AND CONDITIONS THAT GOVERN THE USE OF THE SITE AND THE TERMS UPON WHICH WE AGREE TO DELIVER TO YOU.</p>
                            <dl>
                                <dt>Our Delivery Service</dt>
                                <dl>When you place an order, we use all reasonable efforts to deliver to you at the time of your choosing.
                                     Once you place your order by online, we will act as bailee for the ordered products. You can modify an existing order at any time up until the order
                                      processed.</dl>
                                <dt>Price And Availability</dt>
                                <dl>From time to time, products you order may be unavailable. If we are unable to fulfill your entire order, we will make every reasonable effort to substitute the closest product. We do not set the prices for the items you select on your grocery list.
                                     We pay the prices that each individual store has already set.</dl>
                                <dt>Payment</dt>
                                <dl>We accept only credit/debit cards.  In the event your card is declined, we reserve the right to collect funds for any uncollected transactions owed us should a payment made via credit card be declined.</dl>
                            </dl>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content Section End -->
    <!-- Login/signup and Category Menu Loading -->
    <script src="../user/javascripts/loginSignup.js"></script>
    <script src="../user/javascripts/homeMenuLoad.js"></script>
    <!-- Cart and Wishlist Controles -->
    <script src="../user/javascripts/addToCart.js"></script>
    <script src="../user/javascripts/addToWishlist.js"></script>
    <!-- Js Plugins -->
    <script src="../user/js/jquery-3.3.1.min.js"></script>
    <script src="../user/js/bootstrap.min.js"></script>
    <script src="../user/js/jquery.nice-select.min.js"></script>
    <script src="../user/js/jquery-ui.min.js"></script>
    <script src="../user/js/jquery.slicknav.js"></script>
    <script src="../user/js/mixitup.min.js"></script>
    <script src="../user/js/owl.carousel.min.js"></script>
    <script src="../user/js/main.js"></script>
</body>
</html>