<nav class="sidebar vertical-scroll  ps-container ps-theme-default ps-active-y">
        <div class="logo d-flex justify-content-between">
            <a href="/admin/dashboard"><img src="../../admin/images/logo.png" alt=""></a>
            <div class="sidebar_close_icon d-lg-none">
                <i class="ti-close"></i>
            </div>
        </div>
        <ul id="sidebar_menu">
            <li class="mm-active">
                <a href="/admin/dashboard" aria-expanded="false">
                    <div class="icon_menu">
                        <img src="../../admin/images/menu-icon/dashboard.svg" alt="">
                    </div>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="icon_menu">
                        <i class="ti-layers icon-color"></i>
                    </div>
                    <span>Category</span>
                </a>
                <ul>
                    <li><a href="/admin/category/categoryList">Category List</a></li>
                    <li><a href="/admin/category">Add Category</a></li>
                </ul>
            </li>
            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="icon_menu">
                        <i class="ti-layers-alt icon-color"></i>
                    </div>
                    <span>Sub Category</span>
                </a>
                <ul>
                    <li><a href="/admin/subCategory/subCategoryList">Sub-Category List</a></li>
                    <li><a href="/admin/subCategory">Add Sub-Category</a></li>
                </ul>
            </li>
            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="icon_menu">
                        <i class="ti-layers-alt icon-color"></i>
                    </div>
                    <span>Brand</span>
                </a>
                <ul>
                    <li><a href="/admin/brand">Add Brand</a></li>
                </ul>
            </li>
            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="icon_menu">
                        <i class="ti-layers-alt icon-color"></i>
                    </div>
                    <span>Product</span>
                </a>
                <ul>
                    <li><a href="/admin/product/productList">Product List</a></li>
                    <li><a href="/admin/product">Add Product</a></li>
                </ul>
            </li>
            <li class="">
                <a href="/admin/user/userList" aria-expanded="false">
                    <div class="icon_menu">
                        <i class="ti-layers-alt icon-color"></i>
                    </div>
                    <span>User List</span>
                </a>
            </li>
            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="icon_menu">
                        <i class="ti-layers-alt icon-color"></i>
                    </div>
                    <span>Order</span>
                </a>
                <ul>
                    <li><a href="/admin/order/orderList">Order List</a></li>
                </ul>
            </li>
            <li class="">
                <a href="/admin/banner" aria-expanded="false">
                    <div class="icon_menu">
                        <i class="ti-layers-alt icon-color"></i>
                    </div>
                    <span>Banner Manage</span>
                </a>
            </li>
        </ul>
    </nav>