<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyStore | Change Password</title>
    <link rel="icon" type="image/x-icon" href="../../admin/images/logo.png">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&amp;display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../user/css/style.css" type="text/css">
</head>

<body>
    <!--Imported Header Content-->
    <%- include('../../partials/user/UserNavbar') %>
    <!-- Content Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4><a class="text-dark" href="/account/myorder">My Orders <i class="fa fa-angle-double-right"></i></a></h4>
                            <hr/>
                            <h4>Account Settings</h4>
                            <ul>
                                <li><a href="/account/profile">Profile Information</a></li>
                                <li><a href="/account/address">Manage Addresses</a></li>
                                <li><a class="text-primary" href="/account/password">Change Password</a></li>
                            </ul><br/><hr/>
                            <h6><a class="text-dark" href="/ap/logout">Logout <i class="fa fa-sign-out"></i></a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="row">
                        <div class="col-6">
                            <% if(errMsg.length > 0) { %>
                            <div class="alert alert-danger" role="alert">
                                <%= errMsg %>
                              </div>
                              <%}%>
                            <form action="/account/password/changePassword" method="post">
                                <div class="form-group">
                                  <label for="newPassword">New Password</label>
                                  <input type="password" class="form-control" onkeyup="passwordMatch()" id="newPassword" name="newPassword" placeholder="Enter new password">
                                </div>
                                <div class="form-group">
                                  <label for="confirmPassword">Confirm Password <span id="matchResult"></span></label>
                                  <input type="password" class="form-control" onkeyup="passwordMatch()" id="confirmPassword" name="confirmPassword" placeholder="Re-enter password">
                                </div>
                                <div class="form-group">
                                    <label for="oldPassword">Old Password</label>
                                    <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Enter old password">
                                  </div>
                                <button type="submit" class="btn btn-primary" id="submitButton" disabled>Update</button>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content Section End -->
    <!-- Imported Footer -->
   <%- include('../../partials/user/userFooter') %>
   <!-- Password Matching and Validating -->
   <script src="../../user/javascripts/changePassword.js"></script>
    <!-- Category Menu Loading -->
    <script src="../../user/javascripts/homeMenuLoad.js"></script>
    <!-- Cart and Wishlist Controles -->
    <script src="../../user/javascripts/cartControl.js"></script>
    <!-- Js Plugins -->
    <script src="../../user/js/jquery-3.3.1.min.js"></script>
    <script src="../../user/js/bootstrap.min.js"></script>
    <script src="../../user/js/jquery.nice-select.min.js"></script>
    <script src="../../user/js/jquery-ui.min.js"></script>
    <script src="../../user/js/jquery.slicknav.js"></script>
    <script src="../../user/js/mixitup.min.js"></script>
    <script src="../../user/js/owl.carousel.min.js"></script>
    <script src="../../user/js/main.js"></script>
</body>
</html>